@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

@layer utilities {
  .shiny-overlay-light {
    @apply absolute inset-0 overflow-hidden;
  }


  .shiny-overlay-light::after {
    content: '';
    transform: skewX(-45deg);
    @apply absolute top-0 left-0 w-full h-full; 
    background: radial-gradient(circle at center, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0) 70%);
    animation: shine 2s ease-in-out infinite;
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) skewX(-45deg);
    }

    100% {
      transform: translateX(300%) skewX(-45deg);
    }
  }
}